{
  "openapi": "3.0.3",
  "info": {
    "title": "Bootcamp Courses API",
    "version": "1.0.0",
    "description": "REST API for the online learning platform. All protected endpoints require a Bearer token obtained from `/api/login` or `/api/register`."
  },
  "servers": [
    {
      "url": "https://api.redclass.redberryinternship.ge/api",
      "description": "Production"
    },
    {
      "url": "/api",
      "description": "Local"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "username": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "avatar": {
            "type": "string",
            "nullable": true
          },
          "fullName": {
            "type": "string",
            "nullable": true
          },
          "mobileNumber": {
            "type": "string",
            "nullable": true
          },
          "age": {
            "type": "integer",
            "nullable": true
          },
          "profileComplete": {
            "type": "boolean"
          }
        }
      },
      "Course": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "image": {
            "type": "string"
          },
          "basePrice": {
            "type": "number",
            "format": "float"
          },
          "durationWeeks": {
            "type": "integer"
          },
          "isFeatured": {
            "type": "boolean"
          },
          "avgRating": {
            "type": "number",
            "format": "float",
            "nullable": true,
            "example": 4.5,
            "description": "Average rating (1–5), null if no ratings yet"
          },
          "reviewCount": {
            "type": "integer",
            "example": 12,
            "description": "Total number of ratings submitted"
          },
          "category": {
            "$ref": "#/components/schemas/Category"
          },
          "topic": {
            "$ref": "#/components/schemas/Topic"
          },
          "instructor": {
            "$ref": "#/components/schemas/Instructor"
          }
        }
      },
      "CourseDetail": {
        "type": "object",
        "description": "Full course detail. Returns `reviews` array instead of pre-computed `avgRating`/`reviewCount` so the frontend can calculate averages.",
        "properties": {
          "id": {
            "type": "integer"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "image": {
            "type": "string"
          },
          "basePrice": {
            "type": "number",
            "format": "float"
          },
          "durationWeeks": {
            "type": "integer"
          },
          "isFeatured": {
            "type": "boolean"
          },
          "reviews": {
            "type": "array",
            "description": "All ratings submitted for this course. Use this to compute average and count client-side.",
            "items": {
              "type": "object",
              "properties": {
                "userId": {
                  "type": "integer"
                },
                "rating": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 5,
                  "example": 4
                }
              }
            }
          },
          "isRated": {
            "type": "boolean",
            "description": "Whether the authenticated user has already rated this course"
          },
          "category": {
            "$ref": "#/components/schemas/Category"
          },
          "topic": {
            "$ref": "#/components/schemas/Topic"
          },
          "instructor": {
            "$ref": "#/components/schemas/Instructor"
          },
          "enrollment": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Enrollment"
              }
            ],
            "nullable": true,
            "description": "Present only if the authenticated user is enrolled, otherwise null"
          }
        }
      },
      "Category": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "icon": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "Topic": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "categoryId": {
            "type": "integer"
          }
        }
      },
      "Instructor": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "avatar": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "WeeklySchedule": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "label": {
            "type": "string",
            "example": "Monday - Wednesday"
          },
          "days": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "monday",
              "wednesday"
            ]
          }
        }
      },
      "TimeSlot": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "label": {
            "type": "string",
            "example": "Evening (6:00 PM - 8:00 PM)"
          },
          "startTime": {
            "type": "string",
            "example": "18:00"
          },
          "endTime": {
            "type": "string",
            "example": "20:00"
          }
        }
      },
      "SessionType": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "courseScheduleId": {
            "type": "integer"
          },
          "name": {
            "type": "string",
            "enum": [
              "online",
              "in_person",
              "hybrid"
            ]
          },
          "priceModifier": {
            "type": "number",
            "format": "float",
            "example": 30
          },
          "availableSeats": {
            "type": "integer"
          },
          "location": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "Enrollment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "quantity": {
            "type": "integer"
          },
          "totalPrice": {
            "type": "number",
            "format": "float"
          },
          "progress": {
            "type": "integer",
            "minimum": 0,
            "maximum": 100
          },
          "completedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "course": {
            "$ref": "#/components/schemas/Course"
          },
          "schedule": {
            "type": "object",
            "properties": {
              "weeklySchedule": {
                "$ref": "#/components/schemas/WeeklySchedule"
              },
              "timeSlot": {
                "$ref": "#/components/schemas/TimeSlot"
              },
              "sessionType": {
                "$ref": "#/components/schemas/SessionType"
              },
              "location": {
                "type": "string",
                "nullable": true
              }
            }
          }
        }
      },
      "ValidationError": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "errors": {
            "type": "object",
            "additionalProperties": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        }
      },
      "ConflictError": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "Schedule conflict detected"
          },
          "conflicts": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "requestedCourseId": {
                  "type": "integer"
                },
                "conflictingEnrollmentId": {
                  "type": "integer"
                },
                "conflictingCourseName": {
                  "type": "string"
                },
                "schedule": {
                  "type": "string",
                  "example": "Monday - Wednesday at Evening (6:00 PM - 8:00 PM)"
                }
              }
            }
          }
        }
      },
      "PaginationMeta": {
        "type": "object",
        "properties": {
          "currentPage": {
            "type": "integer"
          },
          "lastPage": {
            "type": "integer"
          },
          "perPage": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          }
        }
      }
    },
    "responses": {
      "Unauthenticated": {
        "description": "Unauthenticated",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "Unauthenticated."
                }
              }
            }
          }
        }
      },
      "Forbidden": {
        "description": "Forbidden",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "This action is unauthorized."
                }
              }
            }
          }
        }
      },
      "NotFound": {
        "description": "Not Found",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "No query results for model."
                }
              }
            }
          }
        }
      },
      "ValidationError": {
        "description": "Validation Error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ValidationError"
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Auth",
      "description": "Registration, login, logout, and current user"
    },
    {
      "name": "Profile",
      "description": "Update the authenticated user's profile"
    },
    {
      "name": "Courses",
      "description": "Browse and search courses"
    },
    {
      "name": "Filters",
      "description": "Categories, topics, and instructors for filtering"
    },
    {
      "name": "Schedule",
      "description": "Cascading schedule selection for a course"
    },
    {
      "name": "Enrollments",
      "description": "Manage course enrollments"
    },
    {
      "name": "Reviews",
      "description": "Submit a star rating for a completed course"
    }
  ],
  "paths": {
    "/register": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Register a new user",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "username",
                  "email",
                  "password",
                  "password_confirmation"
                ],
                "properties": {
                  "username": {
                    "type": "string",
                    "minLength": 3,
                    "example": "johndoe"
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "example": "john@example.com"
                  },
                  "password": {
                    "type": "string",
                    "minLength": 3,
                    "example": "password"
                  },
                  "password_confirmation": {
                    "type": "string",
                    "example": "password"
                  },
                  "avatar": {
                    "type": "string",
                    "format": "binary",
                    "description": "jpg, jpeg, png, or webp — max 2MB"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "User registered",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "user": {
                          "$ref": "#/components/schemas/User"
                        },
                        "token": {
                          "type": "string",
                          "example": "1|abc123..."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/login": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Log in and receive a token",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "password"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "example": "test@example.com"
                  },
                  "password": {
                    "type": "string",
                    "example": "password"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "user": {
                          "$ref": "#/components/schemas/User"
                        },
                        "token": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Invalid credentials."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/logout": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Revoke the current token",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "204": {
            "description": "Logged out"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          }
        }
      }
    },
    "/me": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "Get the authenticated user",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Current user",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/User"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          }
        }
      }
    },
    "/profile": {
      "put": {
        "tags": [
          "Profile"
        ],
        "summary": "Update profile information",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "full_name",
                  "mobile_number",
                  "age"
                ],
                "properties": {
                  "full_name": {
                    "type": "string",
                    "minLength": 3,
                    "maxLength": 50,
                    "example": "John Doe"
                  },
                  "mobile_number": {
                    "type": "string",
                    "pattern": "^5\\d{8}$",
                    "description": "Georgian mobile: 9 digits starting with 5 (spaces stripped automatically)",
                    "example": "555123456"
                  },
                  "age": {
                    "type": "integer",
                    "minimum": 16,
                    "maximum": 120,
                    "example": 25
                  },
                  "avatar": {
                    "type": "string",
                    "format": "binary",
                    "description": "jpg, jpeg, png, or webp — max 2MB"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Profile updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/User"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/courses": {
      "get": {
        "tags": [
          "Courses"
        ],
        "summary": "List courses (paginated, filterable, sortable)",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 100
            },
            "description": "Search by title or description (case-insensitive)"
          },
          {
            "name": "categories[]",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              }
            },
            "style": "form",
            "explode": true,
            "description": "Filter by category IDs"
          },
          {
            "name": "topics[]",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              }
            },
            "style": "form",
            "explode": true,
            "description": "Filter by topic IDs"
          },
          {
            "name": "instructors[]",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              }
            },
            "style": "form",
            "explode": true,
            "description": "Filter by instructor IDs"
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "newest",
                "price_asc",
                "price_desc",
                "popular",
                "title_asc"
              ],
              "default": "newest"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated course list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Course"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/courses/featured": {
      "get": {
        "tags": [
          "Courses"
        ],
        "summary": "Get up to 3 featured courses",
        "responses": {
          "200": {
            "description": "Featured courses",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "maxItems": 3,
                      "items": {
                        "$ref": "#/components/schemas/Course"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/courses/in-progress": {
      "get": {
        "tags": [
          "Courses"
        ],
        "summary": "Get up to 4 in-progress enrollments (progress < 100)",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "In-progress enrollments",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "maxItems": 4,
                      "items": {
                        "$ref": "#/components/schemas/Enrollment"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          }
        }
      }
    },
    "/courses/{id}": {
      "get": {
        "tags": [
          "Courses"
        ],
        "summary": "Get a single course. Includes enrollment object if the authenticated user is enrolled.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Course detail",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/CourseDetail"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/categories": {
      "get": {
        "tags": [
          "Filters"
        ],
        "summary": "List all categories",
        "responses": {
          "200": {
            "description": "Categories",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Category"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/topics": {
      "get": {
        "tags": [
          "Filters"
        ],
        "summary": "List topics, optionally filtered by category",
        "parameters": [
          {
            "name": "categories[]",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              }
            },
            "style": "form",
            "explode": true,
            "description": "Only return topics belonging to these categories"
          }
        ],
        "responses": {
          "200": {
            "description": "Topics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Topic"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/instructors": {
      "get": {
        "tags": [
          "Filters"
        ],
        "summary": "List all instructors",
        "responses": {
          "200": {
            "description": "Instructors",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Instructor"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/courses/{id}/weekly-schedules": {
      "get": {
        "tags": [
          "Schedule"
        ],
        "summary": "Step 1 — Get available weekly schedules for a course",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Weekly schedules",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/WeeklySchedule"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/courses/{id}/time-slots": {
      "get": {
        "tags": [
          "Schedule"
        ],
        "summary": "Step 2 — Get time slots for a course + weekly schedule",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "weekly_schedule_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Time slots",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/TimeSlot"
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/courses/{id}/session-types": {
      "get": {
        "tags": [
          "Schedule"
        ],
        "summary": "Step 3 — Get session types for a course + weekly schedule + time slot",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "weekly_schedule_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "time_slot_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Session types with availability",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/SessionType"
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/enrollments": {
      "get": {
        "tags": [
          "Enrollments"
        ],
        "summary": "List the authenticated user's enrollments",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Enrollments",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Enrollment"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          }
        }
      },
      "post": {
        "tags": [
          "Enrollments"
        ],
        "summary": "Enroll in a course",
        "description": "Requires a complete profile. Returns 409 with `conflicts` array if a schedule conflict is detected. Re-submit with `force: true` to override.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "courseId",
                  "courseScheduleId"
                ],
                "properties": {
                  "courseId": {
                    "type": "integer",
                    "example": 1
                  },
                  "courseScheduleId": {
                    "type": "integer",
                    "example": 5
                  },
                  "force": {
                    "type": "boolean",
                    "default": false,
                    "description": "Override schedule conflicts"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Enrolled",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Enrollment"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "409": {
            "description": "Conflict (schedule conflict or duplicate enrollment)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConflictError"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/enrollments/{id}/complete": {
      "patch": {
        "tags": [
          "Enrollments"
        ],
        "summary": "Mark an enrollment as complete (progress → 100)",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updated enrollment",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Enrollment"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/courses/{id}/reviews": {
      "post": {
        "tags": [
          "Reviews"
        ],
        "summary": "Submit or update a star rating for a course",
        "description": "Authenticated users can rate a course 1–5 stars. Submitting again is restricted. Completion is not enforced server-side.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "rating"
                ],
                "properties": {
                  "rating": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 5,
                    "example": 4
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Rating saved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "rating": {
                          "type": "integer",
                          "example": 4
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/enrollments/{id}": {
      "delete": {
        "tags": [
          "Enrollments"
        ],
        "summary": "Delete an enrollment (restores available seats)",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    }
  }
}